<h2><%=firstname%> <%=lastname%>, You are<%=age%> years old. Please enter your age.</h2>
<h3>What color is your hair?</h3>

<form method = "post" action = "eyes">
	<input type = "text" name = "eyes">
	<input type = "submit" value = "enter">
	<input type = "hidden" name = "firstname" value = "<%=firstname%>">
	<input type = "hidden" name = "lastname" value = "<%=lastname%>">
	<input type = "hidden" name = "age" value = "<%=age%>">
	<input type = "hidden" name = "hair" value = "<$=hair%>">
</form>