<h3>what are your three favorite numbers?</h3>

<form method = "post" action = "fnums">
	<input type = "number" name = "num1" required>
	<input type = "number" name = "num2" required>
	<input type = "number" name = "num3" required>
	<input type = "submit" value = "enter">
	<input type = "hidden" name = "firstname" value = "<%=firstname%>">
	<input type = "hidden" name = "lastname" value = "<%=lastname%>">
	<input type = "hidden" name = "age" value = "<%=age%>">
	<input type = "hidden" name = "hair" value = "<%=hair%>">
	<input type = "hidden" name = "eyes" value = "<%=eyes%>">
	<input type = "hidden" name = "food" value = "<%=food%>">
	<input type = "hidden" name = "drink" value = "<%=drink%>">
</form>